body {
	font-family: arial, sans-serif;
	font-size: small;
	color: #222;
}

/* Used to style the links in upper left side*/
#hptl {
	position: absolute;
	margin: 7px 0 0 10px;
}

#hptl a {
	display: inline-block;
	padding-left: 15px;
	color: #000;
	opacity: 0.75;
	font-size: 13px;
	text-decoration: none;
}

#hptl a:hover {
	text-decoration: underline;
}

body, td, a, p, .h {
    font-family: arial,sans-serif;
}

/* Used to style the links in the upper right side */
.right_link {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
	display: inline-block;
    line-height: 24px;
    outline: none;
    vertical-align: middle;
	font-family: Arial, sans-serif;
	font-size: 13px;
	text-align: right;
	padding-left: 15px;
	vertical-align: middle;
}

#right_nav {
	padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: right;
	align-items: center;
	justify-content: flex-end;
	white-space: nowrap;
}

/* Used to style the Google logo */

img[Attributes Style] {
    height: 92px;
    width: 272px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 350px;
	padding-top: 20px;
	padding-bottom: 20px;
}

center {
	display: block;
}

/* Used to display the search box */
input[type=text] {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  width: 300px;
}

/* Used to display the buttons */
.jsb input[type="submit"], .gbqfba {
    height: 36px;
    line-height: 27px;
}

.jsb input[type="submit"] {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    /*margin: 11px 4px;*/
	margin: 0 auto;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
	font-size: 13px;
	justify-content: center;
}